.banner {
    width: 100%;
}
/*titulo de la pagina*/
.titulo{
    background-color: black;
    padding: 12px;
    color: gold;
}
/*cuando me paro sobre el titulo el cambia con esto*/
.titulo:hover{
    background-color: white;
    /*color: red;*/

}
body{
    background-color: rgb(74, 73, 75);
}

li{
    float: left;
}

li ul li{
    float: none;
}

li{
    background-color: rgb(138, 136, 136);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    padding: 16px;
    margin: 0 auto 6px 10px;
}

li ul li{
    display: none;
}

ul li:hover{
    background-color: black;
}

ul li:hover ul li{
    display: block;
}

li{
    border-style: groove;
    border-radius: 15%;
    color:white;
}

ul li ul li{
    background-color: rgb(136, 136, 138);
}

ul li ul li:hover{
    background-color: rgb(207, 115, 250);
}


a{
    color: white;
    text-decoration: none;
}



h1{
    color:white;
}


.seleccionada{
    background-color:  rgb(207, 115, 250);
}
p{
    color:white;
    text-align: justify;
}
.entre{
    width: 10%;
    height: 10%;
}
.header{
    text-align: center;
}
.header .titulo{
    left: -50;
}

.menu{
    
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner:hover{
    content: url("../img/1.jpg");
}