.banner {
    width: 100%;
}

.titulo{
    background-color: black;
    padding: 12px;
    color: white;
}
body{
    background-color: rgb(141, 123, 165);
}

li{
    float: left;
}

li ul li{
    float: none;
}

li{
    background-color: white;
    list-style: none;
    padding: 16px;
}

li ul li{
    display: none;
}

ul li:hover{
    background-color: aquamarine;
}




















/*
.principal{
    float: left;
    padding: 16px;
    background-color: white;
    color: black;
}



li{
    list-style-type:none;
}
.menu{

    background-color: white;
    width: 100%;
}

.principal:hover{
    background-color: coral;
}

.principal ul{
    background-color: coral;
    display: none;
}

.principal:hover ul{
    display: contents;
}


ul , li{
    border-style: groove;
}
*/


